<!-- Appears if a hero is selected -->
<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details</h2>
    <p>id: {{hero.id}}</p>

    <div>
        <label for="hero-name">Hero name: </label>
        <input id="hero-name" [(ngModel)]="hero.name" placeholder="hero-name">
    </div>

    <button type="button" (click)="save()">save</button>

    <button type="button" (click)="goBack()">go back</button>
</div>